@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
  font-family: 'Kanit', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  text-align: center;
  margin-top: 20%;

}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.button {
  display: flex;
  position: relative;
  margin-top: 10px; 
}